openapi: 3.0.3
info:
  title: traxy public API and MCP V1
  version: 1.0.0
  description: |
    Public customer-facing read API and remote MCP Streamable HTTP endpoint.
    Customer REST requests use bearer API keys. MCP uses OAuth access tokens issued for the traxy MCP
    resource; API-key fallback is disabled by default. Public REST clients must
    not send a workspace ID. Default API keys cover the general read API.
servers:
  - url: https://api.traxy.ai/api/v1
    description: Production
security:
  - CustomerApiKey: []
tags:
  - name: Customer REST
  - name: MCP OAuth
  - name: MCP
paths:
  /customer/workspace-access:
    get:
      tags: ["Customer REST"]
      summary: Get workspace access and commercial visibility.
      security:
        - CustomerApiKey: ["workspace:read"]
      responses:
        "200":
          description: Workspace access state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceAccess"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCapability"
        "429":
          $ref: "#/components/responses/RateLimited"
  /customer/leads:
    get:
      tags: ["Customer REST"]
      summary: List API-visible leads.
      security:
        - CustomerApiKey: ["leads:read"]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: tier
          in: query
          schema:
            type: string
        - name: minIcpMatchPercent
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100
      responses:
        "200":
          description: Lead page. Contact fields are null unless the key has leads:contact_read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadPage"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCapability"
        "429":
          $ref: "#/components/responses/RateLimited"
  /customer/leads/counts:
    get:
      tags: ["Customer REST"]
      summary: Get API-visible lead counts.
      security:
        - CustomerApiKey: ["leads:read"]
      responses:
        "200":
          description: Lead counts grouped by tier/status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadCounts"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCapability"
  /customer/leads/stats:
    get:
      tags: ["Customer REST"]
      summary: Get aggregate lead stats.
      security:
        - CustomerApiKey: ["leads:read"]
      responses:
        "200":
          description: Aggregate lead stats.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadStats"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCapability"
  /customer/leads/{leadId}:
    get:
      tags: ["Customer REST"]
      summary: Get one API-visible lead.
      security:
        - CustomerApiKey: ["leads:read"]
      parameters:
        - $ref: "#/components/parameters/LeadId"
      responses:
        "200":
          description: Lead detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadEnvelope"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCapability"
        "404":
          $ref: "#/components/responses/NotFound"
  /customer/leads/{leadId}/engagements:
    get:
      tags: ["Customer REST"]
      summary: List safe engagement summaries for one lead.
      security:
        - CustomerApiKey: ["leads:read"]
      parameters:
        - $ref: "#/components/parameters/LeadId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: engagementType
          in: query
          schema:
            type: string
            enum: [LIKE, COMMENT, REPOST]
      responses:
        "200":
          description: Engagement page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeadEngagementPage"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /customer/icp:
    get:
      tags: ["Customer REST"]
      summary: Get active ICP configuration.
      security:
        - CustomerApiKey: ["icp:read"]
      responses:
        "200":
          $ref: "#/components/responses/IcpProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCapability"
  /customer/icp/active:
    get:
      tags: ["Customer REST"]
      summary: Get active ICP configuration.
      security:
        - CustomerApiKey: ["icp:read"]
      responses:
        "200":
          $ref: "#/components/responses/IcpProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCapability"
  /customer/watchlist/profiles:
    get:
      tags: ["Customer REST"]
      summary: List watchlist profiles.
      security:
        - CustomerApiKey: ["watchlist:read"]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          $ref: "#/components/responses/WatchlistProfilePageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCapability"
  /customer/watchlist/summary:
    get:
      tags: ["Customer REST"]
      summary: Get watchlist summary.
      security:
        - CustomerApiKey: ["watchlist:read"]
      responses:
        "200":
          $ref: "#/components/responses/WatchlistSummaryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customer/watchlist/recommendations:
    get:
      tags: ["Customer REST"]
      summary: List watchlist recommendations.
      security:
        - CustomerApiKey: ["watchlist:read"]
      responses:
        "200":
          $ref: "#/components/responses/WatchlistRecommendationsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customer/analytics/dashboard:
    get:
      tags: ["Customer REST"]
      summary: Get aggregate analytics dashboard.
      security:
        - CustomerApiKey: ["analytics:read"]
      parameters:
        - $ref: "#/components/parameters/Range"
      responses:
        "200":
          $ref: "#/components/responses/AnalyticsDashboardResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customer/analytics/posts:
    get:
      tags: ["Customer REST"]
      summary: List post analytics.
      security:
        - CustomerApiKey: ["analytics:read"]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          $ref: "#/components/responses/PostPageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customer/analytics/posts/{postId}/summary:
    get:
      tags: ["Customer REST"]
      summary: Get one post summary.
      security:
        - CustomerApiKey: ["analytics:read"]
      parameters:
        - $ref: "#/components/parameters/PostId"
      responses:
        "200":
          $ref: "#/components/responses/PostSummaryResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "404":
          $ref: "#/components/responses/NotFound"
  /customer/analytics/posts/{postId}/qualified-leads:
    get:
      tags: ["Customer REST"]
      summary: List qualified leads for one post.
      security:
        - CustomerApiKey: ["analytics:read"]
      parameters:
        - $ref: "#/components/parameters/PostId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          $ref: "#/components/responses/LeadPageResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "404":
          $ref: "#/components/responses/NotFound"
  /customer/content-feed:
    get:
      tags: ["Customer REST"]
      summary: List content feed posts.
      security:
        - CustomerApiKey: ["content:read"]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          $ref: "#/components/responses/PostPageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customer/content/feed:
    get:
      tags: ["Customer REST"]
      summary: List content feed posts.
      security:
        - CustomerApiKey: ["content:read"]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          $ref: "#/components/responses/PostPageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customer/integrations:
    get:
      tags: ["Customer REST"]
      summary: Get safe integration status.
      security:
        - CustomerApiKey: ["integrations:read"]
      responses:
        "200":
          $ref: "#/components/responses/IntegrationsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customer/integrations/status:
    get:
      tags: ["Customer REST"]
      summary: Get safe integration status.
      security:
        - CustomerApiKey: ["integrations:read"]
      responses:
        "200":
          $ref: "#/components/responses/IntegrationsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customer/integrations/leads/{leadId}/delivery:
    get:
      tags: ["Customer REST"]
      summary: Get lead delivery state.
      security:
        - CustomerApiKey: ["integrations:read"]
      parameters:
        - $ref: "#/components/parameters/LeadId"
      responses:
        "200":
          $ref: "#/components/responses/LeadDeliveryStatesResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
  /customer/integrations/lead-delivery-state:
    get:
      tags: ["Customer REST"]
      summary: Get lead delivery state.
      security:
        - CustomerApiKey: ["integrations:read"]
      parameters:
        - name: leadId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          $ref: "#/components/responses/LeadDeliveryStatesResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
  /customer/sync/status:
    get:
      tags: ["Customer REST"]
      summary: Get sync status.
      security:
        - CustomerApiKey: ["sync:read"]
      responses:
        "200":
          $ref: "#/components/responses/SyncStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customer/qualification/runs/latest:
    get:
      tags: ["Customer REST"]
      summary: Get latest qualification run.
      security:
        - CustomerApiKey: ["sync:read"]
      responses:
        "200":
          $ref: "#/components/responses/QualificationRunResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /mcp/oauth/register:
    post:
      tags: ["MCP OAuth"]
      summary: Register a public MCP OAuth client.
      description: Dynamic Client Registration for public clients. Redirect URIs must be safe loopback URIs or explicitly allowlisted HTTPS origins.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/McpOAuthClientRegistrationRequest"
      responses:
        "201":
          description: Registered public client metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McpOAuthClientRegistrationResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
  /mcp/oauth/authorize:
    get:
      tags: ["MCP OAuth"]
      summary: Start MCP OAuth authorization.
      description: Validates client, redirect URI, resource, scopes, and PKCE challenge, then redirects to the traxy consent screen.
      security: []
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
        - name: code_challenge
          in: query
          required: true
          schema:
            type: string
        - name: code_challenge_method
          in: query
          required: true
          schema:
            type: string
            enum: [S256]
        - name: scope
          in: query
          schema:
            type: string
        - name: resource
          in: query
          schema:
            type: string
            format: uri
        - name: state
          in: query
          schema:
            type: string
      responses:
        "302":
          description: Redirect to traxy consent screen.
        "400":
          $ref: "#/components/responses/ValidationFailed"
  /mcp/oauth/token:
    post:
      tags: ["MCP OAuth"]
      summary: Exchange an authorization code or refresh token.
      description: Supports authorization_code with PKCE S256 and refresh_token with rotation.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/McpOAuthTokenRequest"
      responses:
        "200":
          description: MCP OAuth token response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McpOAuthTokenResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/McpUnauthorized"
  /mcp/oauth/revoke:
    post:
      tags: ["MCP OAuth"]
      summary: Revoke an MCP OAuth token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/McpOAuthRevokeRequest"
      responses:
        "200":
          description: Token revoke accepted.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
  /mcp:
    get:
      tags: ["MCP"]
      summary: MCP GET sessions are not enabled in V1.
      security:
        - McpOAuth: []
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
    post:
      tags: ["MCP"]
      summary: Streamable HTTP JSON-RPC endpoint for remote MCP clients.
      security:
        - McpOAuth: []
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            example: "application/json, text/event-stream"
        - name: MCP-Protocol-Version
          in: header
          required: true
          schema:
            type: string
            example: "2025-06-18"
        - name: Origin
          in: header
          schema:
            type: string
          description: Browser origins must match an allowed MCP origin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/McpJsonRpcRequest"
      responses:
        "200":
          description: JSON-RPC response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McpJsonRpcResponse"
        "400":
          $ref: "#/components/responses/ValidationFailed"
        "401":
          $ref: "#/components/responses/McpUnauthorized"
        "403":
          $ref: "#/components/responses/McpOriginNotAllowed"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    CustomerApiKey:
      type: http
      scheme: bearer
      bearerFormat: trxy_live_<public_id>_<secret>
      description: API key created from Integrations > API & MCP > API keys. Used for Customer REST, not MCP OAuth.
    McpOAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived OAuth access token issued by traxy for the MCP resource.
    SupabaseUserJwt:
      type: http
      scheme: bearer
      bearerFormat: Supabase JWT
      description: Authenticated traxy app session token used by the consent screen.
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
    Range:
      name: range
      in: query
      schema:
        type: string
        enum: [7d, 30d, 90d]
        default: 30d
    LeadId:
      name: leadId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PostId:
      name: postId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    Unauthorized:
      description: Invalid, expired, or revoked API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    McpUnauthorized:
      description: Invalid, expired, revoked, or wrong-audience MCP OAuth token. Response includes a WWW-Authenticate challenge with resource metadata.
      headers:
        WWW-Authenticate:
          schema:
            type: string
            example: Bearer resource_metadata="https://api.traxy.ai/.well-known/oauth-protected-resource/api/v1/mcp" scope="workspace:read leads:read"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    InsufficientCapability:
      description: Key lacks the required scope or workspace capability.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ValidationFailed:
      description: Request failed boundary validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    NotFound:
      description: Resource not found for the key workspace.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    UnresolvedUrn:
      description: Malformed or unsupported LinkedIn URN. Valid absent and cross-workspace post URNs use NotFound.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    McpOriginNotAllowed:
      description: Browser Origin is not allowed for MCP.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    MethodNotAllowed:
      description: HTTP method not supported for this endpoint.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    RateLimited:
      description: Customer API rate limit exceeded. Production-like runtimes fail closed with this response if the distributed limiter is unavailable.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    LeadPageResponse:
      description: Paginated lead response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LeadPage"
    IcpProfileResponse:
      description: Active ICP configuration. `data` is null when the workspace has no active ICP.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/IcpProfileEnvelope"
    WatchlistProfilePageResponse:
      description: Paginated Watchlist profile response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/WatchlistProfilePage"
    WatchlistSummaryResponse:
      description: Watchlist profile counts.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/WatchlistSummary"
    WatchlistRecommendationsResponse:
      description: Watchlist recommendation response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/WatchlistRecommendations"
    AnalyticsDashboardResponse:
      description: Aggregate analytics dashboard response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AnalyticsDashboard"
    PostPageResponse:
      description: Paginated post analytics response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostPage"
    PostSummaryResponse:
      description: Post analytics summary response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostSummaryEnvelope"
    IntegrationsResponse:
      description: Integration connection and delivery status.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/IntegrationsEnvelope"
    LeadDeliveryStatesResponse:
      description: Lead delivery state response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LeadDeliveryStatesEnvelope"
    SyncStatusResponse:
      description: Engagement sync status response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SyncStatusEnvelope"
    QualificationRunResponse:
      description: Latest qualification run response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/QualificationRunEnvelope"
  schemas:
    McpOAuthClientRegistrationRequest:
      type: object
      additionalProperties: false
      required: [redirect_uris]
      properties:
        client_name:
          type: string
          example: Codex
        redirect_uris:
          type: array
          minItems: 1
          items:
            type: string
            format: uri
          example: ["http://localhost:1455/callback"]
        grant_types:
          type: array
          items:
            type: string
            enum: [authorization_code, refresh_token]
        response_types:
          type: array
          items:
            type: string
            enum: [code]
        scope:
          oneOf:
            - type: string
              example: "workspace:read leads:read"
            - type: array
              items:
                type: string
        token_endpoint_auth_method:
          type: string
          enum: [none]
          default: none
    McpOAuthClientRegistrationResponse:
      type: object
      required:
        - client_id
        - client_name
        - redirect_uris
        - grant_types
        - response_types
        - token_endpoint_auth_method
        - scope
      properties:
        client_id:
          type: string
          example: mcp_abc123
        client_name:
          type: string
          example: Codex
        redirect_uris:
          type: array
          items:
            type: string
            format: uri
        grant_types:
          type: array
          items:
            type: string
        response_types:
          type: array
          items:
            type: string
        token_endpoint_auth_method:
          type: string
          enum: [none]
        scope:
          type: string
          example: "workspace:read leads:read analytics:read"
    McpOAuthTokenRequest:
      oneOf:
        - type: object
          additionalProperties: false
          required:
            - grant_type
            - code
            - redirect_uri
            - client_id
            - code_verifier
          properties:
            grant_type:
              type: string
              enum: [authorization_code]
            code:
              type: string
            redirect_uri:
              type: string
              format: uri
            client_id:
              type: string
            code_verifier:
              type: string
              minLength: 43
              maxLength: 128
            resource:
              type: string
              format: uri
        - type: object
          additionalProperties: false
          required: [grant_type, refresh_token, client_id]
          properties:
            grant_type:
              type: string
              enum: [refresh_token]
            refresh_token:
              type: string
            client_id:
              type: string
            scope:
              type: string
            resource:
              type: string
              format: uri
    McpOAuthTokenResponse:
      type: object
      required: [access_token, token_type, expires_in, refresh_token, scope]
      properties:
        access_token:
          type: string
          description: Short-lived JWT for `/api/v1/mcp`.
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
          example: 900
        refresh_token:
          type: string
          description: Opaque refresh token. Store securely; traxy stores only a hash.
        scope:
          type: string
          example: "workspace:read leads:read analytics:read"
    McpOAuthRevokeRequest:
      type: object
      additionalProperties: false
      required: [token]
      properties:
        token:
          type: string
        token_type_hint:
          type: string
          enum: [access_token, refresh_token]
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, status, request_id]
          properties:
            code:
              type: string
              example: invalid_api_key
            message:
              type: string
              example: Invalid API key.
            status:
              type: integer
              example: 401
            request_id:
              type: string
    WorkspaceAccess:
      type: object
      required:
        - organizationId
        - commercialMode
        - accessState
        - visibleLeadCount
        - hiddenLeadCount
        - totalLeadCount
        - permissions
      properties:
        organizationId:
          type: string
          format: uuid
          description: Workspace identifier returned by the API contract.
        commercialMode:
          type: string
          example: conversion_v2
        accessState:
          type: string
          example: PAID_ACTIVE
        discoveryState:
          type: string
          nullable: true
        visibleLeadCount:
          type: integer
          example: 42
        hiddenLeadCount:
          type: integer
          example: 8
        totalLeadCount:
          type: integer
          example: 50
        visibleLeadTarget:
          type: integer
          nullable: true
        teaserLeadTarget:
          type: integer
          nullable: true
        permissions:
          type: object
          additionalProperties:
            type: boolean
          example:
            canAccessHiddenLeads: true
            canQualifyPostByUrl: true
    PageInfo:
      type: object
      required: [limit, cursor, nextCursor]
      properties:
        limit:
          type: integer
          example: 50
        cursor:
          type: string
          nullable: true
          example: null
        nextCursor:
          type: string
          nullable: true
          example: eyJjcmVhdGVkQXQiOiIyMDI2LTA2LTEyVDE0OjE1OjAwLjAwMFoiLCJpZCI6IjAxOTBhYyJ9
    ProfileSummary:
      type: object
      required: [displayName, headline, location, currentCompany]
      properties:
        displayName:
          type: string
          nullable: true
          example: Morgan Lee
        headline:
          type: string
          nullable: true
          example: VP of Growth at ExampleCo
        location:
          type: string
          nullable: true
          example: New York, United States
        currentCompany:
          type: string
          nullable: true
          example: ExampleCo
    LeadContact:
      type: object
      description: Returned only when the API key has `leads:contact_read`.
      properties:
        workEmail:
          type: string
          nullable: true
          format: email
        workEmailStatus:
          type: string
          nullable: true
        personalEmail:
          type: string
          nullable: true
          format: email
        personalEmailStatus:
          type: string
          nullable: true
        contactPhone:
          type: string
          nullable: true
        contactPhoneStatus:
          type: string
          nullable: true
    Lead:
      type: object
      required:
        - id
        - profile
        - contact
      properties:
        id:
          type: string
          format: uuid
        icpMatchPercent:
          type: integer
          nullable: true
          minimum: 0
          maximum: 100
        icpMatchLabel:
          type: string
          nullable: true
        intentScore:
          type: number
          format: float
        intentLevel:
          type: string
          nullable: true
        leadTier:
          type: string
          nullable: true
          enum: [UNQUALIFIED, NURTURE, QUALIFIED, PRIORITY]
        trialBucket:
          type: string
          nullable: true
        firstSeenAt:
          type: string
          format: date-time
        lastEngagementAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        primaryQualifiedPostId:
          type: string
          nullable: true
          format: uuid
        profile:
          $ref: "#/components/schemas/ProfileSummary"
        contact:
          nullable: true
          oneOf:
            - $ref: "#/components/schemas/LeadContact"
    LeadEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Lead"
    LeadPage:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Lead"
        page:
          $ref: "#/components/schemas/PageInfo"
    LeadCounts:
      type: object
      required: [counts]
      properties:
        counts:
          type: array
          items:
            type: object
            required: [tier, count]
            properties:
              tier:
                type: string
                nullable: true
                enum: [UNQUALIFIED, NURTURE, QUALIFIED, PRIORITY]
              count:
                type: integer
                example: 12
    LeadStats:
      type: object
      required:
        - total
        - averageIcpMatchPercent
        - priorityCount
        - qualifiedCount
      properties:
        total:
          type: integer
          example: 50
        averageIcpMatchPercent:
          type: number
          nullable: true
          example: 82.4
        priorityCount:
          type: integer
          example: 9
        qualifiedCount:
          type: integer
          example: 18
    LeadEngagementPage:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LeadEngagement"
        page:
          $ref: "#/components/schemas/PageInfo"
    LeadEngagement:
      type: object
      required:
        - id
        - engagementType
        - engagedAt
        - capturedAt
        - post
      properties:
        id:
          type: string
          format: uuid
        engagementType:
          type: string
          enum: [LIKE, COMMENT, REPOST]
        reactionType:
          type: string
          nullable: true
        engagedAt:
          type: string
          format: date-time
        capturedAt:
          type: string
          format: date-time
        post:
          type: object
          required: [id, publishedAt, metrics]
          properties:
            id:
              type: string
              format: uuid
            publishedAt:
              type: string
              nullable: true
              format: date-time
            metrics:
              $ref: "#/components/schemas/PostMetrics"
    IcpProfileEnvelope:
      type: object
      required: [data]
      properties:
        data:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/IcpProfile"
    IcpProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          example: ACTIVE
        source:
          type: string
          nullable: true
        summary:
          type: object
          nullable: true
          additionalProperties: true
        generatedAt:
          type: string
          nullable: true
          format: date-time
        activatedAt:
          type: string
          nullable: true
          format: date-time
        people:
          $ref: "#/components/schemas/IcpPeopleCriteria"
        company:
          $ref: "#/components/schemas/IcpCompanyCriteria"
    IcpPeopleCriteria:
      type: object
      properties:
        jobTitles:
          type: array
          nullable: true
          items:
            type: string
        departments:
          type: array
          nullable: true
          items:
            type: string
        industries:
          type: array
          nullable: true
          items:
            type: string
        locations:
          type: array
          nullable: true
          items:
            type: string
        seniorities:
          type: array
          nullable: true
          items:
            type: string
    IcpCompanyCriteria:
      type: object
      properties:
        companySizes:
          type: array
          nullable: true
          items:
            type: string
        revenueRanges:
          type: array
          nullable: true
          items:
            type: string
        industries:
          type: array
          nullable: true
          items:
            type: string
        locations:
          type: array
          nullable: true
          items:
            type: string
        fundingStages:
          type: array
          nullable: true
          items:
            type: string
        keywords:
          type: array
          nullable: true
          items:
            type: string
        companyProductSummary:
          type: string
          nullable: true
    WatchlistProfilePage:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WatchlistProfile"
        page:
          $ref: "#/components/schemas/PageInfo"
    WatchlistProfile:
      type: object
      required: [id, profileType, source, createdAt, profile]
      properties:
        id:
          type: string
          format: uuid
        profileType:
          type: string
        slotKind:
          type: string
          nullable: true
        source:
          type: string
        selectedCompanyName:
          type: string
          nullable: true
        qualificationPausedAt:
          type: string
          nullable: true
          format: date-time
        lastEngagementSyncAt:
          type: string
          nullable: true
          format: date-time
        createdAt:
          type: string
          format: date-time
        profile:
          $ref: "#/components/schemas/ProfileSummary"
    WatchlistSummary:
      type: object
      required: [counts]
      properties:
        counts:
          type: array
          items:
            type: object
            required: [profileType, count]
            properties:
              profileType:
                type: string
              count:
                type: integer
    WatchlistRecommendations:
      type: object
      required: [data, status]
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        status:
          type: string
          enum: [not_available_in_v1]
    AnalyticsDashboard:
      type: object
      required: [range, windowStart, leads, posts]
      properties:
        range:
          type: string
          enum: [7d, 30d, 90d]
        windowStart:
          type: string
          format: date-time
        leads:
          $ref: "#/components/schemas/LeadStats"
        posts:
          $ref: "#/components/schemas/PostStats"
    PostStats:
      type: object
      required: [qualifiedPostRunCount, postRunCount]
      properties:
        qualifiedPostRunCount:
          type: integer
        postRunCount:
          type: integer
    PostPage:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Post"
        page:
          $ref: "#/components/schemas/PageInfo"
    Post:
      type: object
      required:
        - id
        - publishedAt
        - effectivePublishedAt
        - totalReactions
        - totalComments
        - totalReposts
        - syncedReactionsCount
        - syncedCommentsCount
        - syncedRepostsCount
        - lastFetchedAt
      properties:
        id:
          type: string
          format: uuid
        publishedAt:
          type: string
          nullable: true
          format: date-time
        effectivePublishedAt:
          type: string
          format: date-time
        totalReactions:
          type: integer
        totalComments:
          type: integer
        totalReposts:
          type: integer
        syncedReactionsCount:
          type: integer
        syncedCommentsCount:
          type: integer
        syncedRepostsCount:
          type: integer
        lastFetchedAt:
          type: string
          format: date-time
    PostSummaryEnvelope:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/PostSummary"
    PostSummary:
      type: object
      required:
        - id
        - publishedAt
        - effectivePublishedAt
        - totalReactions
        - totalComments
        - totalReposts
        - syncedReactionsCount
        - syncedCommentsCount
        - syncedRepostsCount
        - qualifiedLeadCount
      properties:
        id:
          type: string
          format: uuid
        publishedAt:
          type: string
          nullable: true
          format: date-time
        effectivePublishedAt:
          type: string
          format: date-time
        totalReactions:
          type: integer
        totalComments:
          type: integer
        totalReposts:
          type: integer
        syncedReactionsCount:
          type: integer
        syncedCommentsCount:
          type: integer
        syncedRepostsCount:
          type: integer
        qualifiedLeadCount:
          type: integer
    PostMetrics:
      type: object
      required: [totalReactions, totalComments, totalReposts]
      properties:
        totalReactions:
          type: integer
        totalComments:
          type: integer
        totalReposts:
          type: integer
    IntegrationsEnvelope:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Integration"
    Integration:
      type: object
      required:
        - id
        - type
        - enabled
        - autoSend
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          example: HUBSPOT
        name:
          type: string
          nullable: true
        enabled:
          type: boolean
        autoSend:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        pausedAt:
          type: string
          nullable: true
          format: date-time
        pausedReason:
          type: string
          nullable: true
        consecutiveFailures:
          type: integer
          nullable: true
        lastSuccessAt:
          type: string
          nullable: true
          format: date-time
        lastFailureAt:
          type: string
          nullable: true
          format: date-time
    LeadDeliveryStatesEnvelope:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LeadDeliveryState"
    LeadDeliveryState:
      type: object
      required: [leadId, integrationType, integrationId, deliveredAt, updatedAt]
      properties:
        leadId:
          type: string
          format: uuid
        integrationType:
          type: string
          example: HUBSPOT
        integrationId:
          type: string
          format: uuid
        deliveredAt:
          type: string
          nullable: true
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SyncStatusEnvelope:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SyncStatus"
    SyncStatus:
      type: object
      required:
        - monitoredProfileId
        - lastEngagementSyncAt
        - running
        - runningStartedAt
      properties:
        monitoredProfileId:
          type: string
          format: uuid
        lastEngagementSyncAt:
          type: string
          nullable: true
          format: date-time
        running:
          type: boolean
        runningStartedAt:
          type: string
          nullable: true
          format: date-time
    QualificationRunEnvelope:
      type: object
      required: [data]
      properties:
        data:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/QualificationRun"
    QualificationRun:
      type: object
      required:
        - id
        - status
        - startedAt
        - completedAt
        - engagementsProcessed
        - leadsCreated
        - leadsUpdated
        - disqualifiedCount
        - errorCount
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          nullable: true
          format: date-time
        engagementsProcessed:
          type: integer
        leadsCreated:
          type: integer
        leadsUpdated:
          type: integer
        disqualifiedCount:
          type: integer
        errorCount:
          type: integer
    McpJsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      additionalProperties: false
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          nullable: true
          oneOf:
            - type: string
            - type: number
        method:
          type: string
          enum: [initialize, tools/list, tools/call]
        params:
          type: object
          additionalProperties: true
    McpJsonRpcResponse:
      type: object
      required: [jsonrpc]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          nullable: true
          oneOf:
            - type: string
            - type: number
        result:
          type: object
          additionalProperties: true
        error:
          type: object
          additionalProperties: true
